{% extends "base.html" %}
{% block title %} Apply {% endblock %}
{% block body %}

    <form action="" method="POST" style="text-align: center;">
        <br><br>
        <h1>Verify as Teacher</h1>
        <br><br>
    We have sent a code to your email<br>
    <input name="code" type="number" maxlength="6"><br><br>
    Please keep your Github username here<br>
    <input name="username" type="text"><br><br>
    <input type="submit" value="Verify" class="btn btn-primary">
     <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </form>
{% endblock %}