{% extends "base.html" %}
{% block title %}Edit Profile {% endblock %}
{% block body %}

    <form style="text-align: center; margin-top:5rem" method="POST" action="">
                  {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
        {% csrf_token %}
        <div  class="course-card" style="text-align: center;margin-left: 25rem;">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    Username :    &nbsp; &nbsp; &nbsp;  &nbsp;     <input name="username" value="{{ request.user.username }}" required><br/><br>
                    Email address : <input name="email" value="{{ request.user.email }}" required><br/><br>
                    Password :   &nbsp; &nbsp;  &nbsp;   &nbsp;   <input name="password" type="password" required><br/><br>
                    <br/>
                    <input type="submit" value="Change" class="btn btn-primary"/><br><br>
                </div></div></div></div>
      
    </form>
    <br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}