{% extends "base.html" %}
{% block title %}Edit Profile {% endblock %}
{% block body %}

    <form style="text-align: center; margin-top:5rem" method="POST" action="">
                  {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
        {% csrf_token %}
         Username : <input name="username" value="{{ request.user.username }}" required><br/><br>
        Email address : <input name="email" value="{{ request.user.email }}" required><br/><br>
        Password : <input name="password" type="password" required><br/><br>
        <br/>
        <input type="submit" value="Change" class="btn btn-primary"/><br><br>
    </form>
    <br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}