{% extends "base.html" %}
{% block title %}Edit Profile {% endblock %}
{% block body %}

    <form style="text-align: center; margin-top:5rem" method="POST" action="">
        {% csrf_token %}
         Username : {{ form.username }}<br/><br>
        Email address : {{ form.email  }}<br/><br>
        Password : {{ form.password1 }}<br/><br>
        Confirm Password : {{ form.password2 }}<br/><br>
        <br/>
        <input type="submit" value="Change" class="btn btn-primary"/><br><br>
    </form>
    <br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}