{% extends "base.html" %}
{% block title %}
 {% if course %}
 {{ course.name }}
{% else %}
    Not found
 {% endif %}
{% endblock title %}
{% block body %}
  {% if course %}
  <img src="/media/{{ course.picture }}" width="100px" height="100px" style="margin-top: 5rem; margin-left:5rem; border-radius:100px">
    <h1 style="margin-top: 2rem; margin-left:5rem">{{ course.name }}</h1>
    <p style="margin-left:7rem;">By {{ course.teacher.username }}</p>

        <div style="text-align: center;">

       <h1  style="margin-top: 5rem;">Modules</h1>


          

       {% if request.user == course.teacher %}
            <button class="btn btn-primary">Create a module</button>
            <br><br>
       {% endif %}

    {% for module in modules %}
    <div class="card text-center">
      <div class="card-header">
        Module
      </div>
      <div class="card-body">
        <h5 class="card-title">{{module.name}}</h5>
        <p class="card-text">{{ module.info }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


      {% endfor %}

  </div>
    {% else %}

    <h1 style="text-align: center; margin-top:10%">Not Found</h1>
  {% endif %}

  {% if not course %}

    <h4>No courses yet</h4>
    <h4>Explore More!</h4>

  {% endif %}

  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock body %}
