{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{%block body%}
          {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
    <p>Hello, {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    {% if is_teacher %}
        You are a teacher
    {% else %}
        You are a student
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}