{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{%block body%}
<br>
          {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
    <div style="text-align: center;">

       <h1  style="margin-top: 5rem;">Your Courses</h1>
  {% for course in courses %}
<div class="card" style="width: 18rem;">
  <img src="/media/{{ course.picture }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ course.name }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <a href="/course/{{ course.id }}" class="btn btn-primary">Continue</a>
  </div>
</div>
{% endfor %}
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}