{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{%block body%}
<br>
          {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
    <div style="text-align: center;">

       <h1  style="margin-top: 5rem;">Your Courses</h1>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}