{% extends "base.html" %}
{% block title %}Module{% endblock title %}
{% block body %}
{%for module in modules%}
  <h1>{{ module.name }}</h1>
  <p>{{ module.info }}</p>
  {% if module.type_of == 1 %}
    {{ module.text_store|safe }}
    {% elif module.type_of == 2 %}
     <iframe width="420" height="315"
src="{{ module.url_store }}">
</iframe> 
  {% endif %}
{% endfor %}

<form style="text-align: center;" method="POST" action="/certificate">
<input type="hidden" name="cid" value="{{ course.id }}">
</form>
{% endblock body %}