<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message|striptags }}
        </div>
        <br/>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
        Username : {{ form.username }}<br/>
        Email address : {{ form.email  }}<br/>
        Password : {{ form.password1 }}<br/>
        Confirm Password : {{ form.password2 }}<br/>
        <br/>
        <input type="submit" value="Register"/>
        {{ forms.errors }}
    </form>
    <a href="/login">Login</a>
</body>
</html>