{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block body %}
    <h3  style="margin-top: 5rem; text-align:center;"> Search Results for "{{ request.GET.q }}"</h3>
    <div style="text-align: center;" class="row">


  {% for course in results %}
<div class="card" class="d-flex flex-row" class="align-center" style="width: 18rem;margin:40px">
  <img src="/media/{{ course.picture }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ course.name }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <a href="/course/{{ course.id }}" class="btn btn-primary">Start</a>
  </div>
</div>
{% endfor %}
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}
