<html lang="en">
<head>
	<title>Quiz</title>
</head>
<body>
	<form method="post" action='/test2'>
		<div class="checkbox">
			<h1>What is your name?</h1>
			<label> <input type="checkbox" name="2a" value="Vagine" >Vagine</label>
			<label> <input type="checkbox" name="2a" value="Magine">Magine</label>
			<label> <input type="checkbox" name="2a" value="Sagine">Sagine</label>
			<label> <input type="checkbox" name="2a" value="Charine">Charine</label>
		</div>
		<button id='mainbtn' type="submit">Submit</button>
	</form>
</html>