/*Start Global Style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:#e9ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
  height:100%
}

.login ,.register{width: 50%}

/*Start Login Style*/
.login{
    float:left;
    background-color: #fafafa;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}
.login h1{
    margin-bottom: 40px;
    font-size: 2.5em;
}

input[type="email"] , input[type="password"], input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}
input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}
.login span{
    float: left
}
.login a{
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.login a:hover{color: #2b6fd4;font-weight: bold}
.login button{
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #2b6fd4;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.login button:hover{
    width:97%;
    font-size: 22px;
    border-radius: 5px;

}
.login hr{
    width: 30%;
    display: inline-block
}

.login p{
    display: inline-block;
    margin: 0px 10px 30px;
}
.login ul{
    list-style: none;
    margin-bottom:40px;
}
.login ul li{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.login ul li:hover{opacity: 0.6}
.login ul li:last-child{margin-right: 0}
.login .copyright{
    display: inline-block;
    float: none;
}
/*Start Register Style*/
.register{
    float: right;
    background-color: #2832C2; 
    height: 100%;
    color:#fff;
    border-radius:  0 10px 10px  0;
    text-align: center;
    padding: 100px 0;
}
.register h2{
    margin: 30px 0;
    font-size: 50px;
    letter-spacing: 3px
}
.register p{
    font-size: 18px;
    margin-bottom: 30px;
}
.register button{
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition:0.2s all  ease-in-out;
}
.register button:hover{
    color: #2832C2;
    background-color: #fff;
    cursor: pointer;
}

.line-1{
    position: relative;
    top: 10%;
    width:inherit;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* animation for typewriter effect */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

